/* styles/CharacterList.css */
.character-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.character-card {
    background-color: #2c3e50;
    border-radius: 10px;
    overflow: hidden;
    color: #ecf0f1;
    display: flex;
    width: 45%; /* Adjust to fit two cards in a row */
    margin-bottom: 20px;
}

.character-card img {
    width: 40%; /* Adjust width for image */
    height: auto;
}

.character-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%; /* Adjust width for details */
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}